h1{
	text-align: center;
	color: #EAEAEA;
	font-weight: bolder;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,45,45,1) 11%, rgba(0,0,0,1) 50%, rgba(45,45,45,1) 89%, rgba(0,0,0,1) 100%);
	font-size: 65px;
	margin: 0px;
	font-family: Georgia;
}
h3{
	text-align: center;
	color: white;
	font-weight: bolder;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,45,45,1) 11%, rgba(0,0,0,1) 50%, rgba(45,45,45,1) 89%, rgba(0,0,0,1) 100%);
	color: #EAEAEA;
	margin: 0px;
	margin-bottom: 5px;
	font-family: Georgia;
	border-width: 0px 0px 2px 0px;
	border-style: groove;
	border-color: #BBBBBB;
}
.modal-title{
	color: black;
	text-align: center;
}
.modal-body{
	color: black;
	font-family: Cordia;
	font-size: 24px;
	text-align: left;
}
.card-title{
	color: #C3C3C3;
}
.card-text{
	color: #C3C3C3;
}
#carouselExampleControls{
	padding: 6px;
	margin: 25px;
	background-color: #D1D1D1;
	box-shadow: 10px 11px 33px 0px rgba(0,0,0,0.28);
	display: block;
	margin: auto;
}
.container{
	background-color: #5A5A5A;
	padding: 15px;

}
body{
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(90,90,90,1) 10%, rgba(90,90,90,1) 90%, rgba(0,0,0,1) 100%);
}
#cardbox{
	padding: 6px;
	margin: 20px;
	box-shadow: 10px 11px 33px 0px rgba(0,0,0,0.28);
}

.card-deck{
	background-color: #505050;
box-shadow: 0px 12px 33px -8px rgba(0,0,0,0.32);
}
.text-muted{
 cursor: pointer;
}
#dropdownMenuButton{
 cursor: pointer;
}
#header{
 cursor: pointer;
}


.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
